* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: gilroy;
}

html,
body {
  height: 100%;
  width: 100%;
}

section {
  height: 100%;
  width: 100%;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 100px;
}

.part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

nav h1 {
  font-size: 50px;
  display: flex;
  align-items: center;
  gap: 5px;
}

nav h1 i {
  rotate: 45deg;
  display: inline-block;
  font-size: 55px;
}

nav h4 {
  font-size: 30px;
  font-weight: 500;
}

nav button {
  padding: 22px 40px;
  font-size: 22px;
  border-radius: 10px;
  border: 1px solid black;
  font-weight: 600;
  background-color: transparent;
}

.center {
  padding: 30px 100px;
  height: 80%;
  width: 100%;
  display: flex;
}

.center-part1 {
  height: 100%;
  width: 45%;
}

.center-part1 h1 {
  font-size: 60px;
  line-height: 1.2;
  font-family: monospace;
}

.center-part1 p {
  font-size: 26px;
  width: 95%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.center-part1 button {
  background-color: black;
  color: #fff;
  border-radius: 10px;
  padding: 22px 40px;
  font-size: 25px;
  font-weight: 600;
  border: none;
}

/* Center Part 2 */

.center-part2 {
  height: 100%;
  width: 55%;
  position: relative;
}

.center-part2 img {
  height: 100%;
  position: absolute;
  right: 0;
}

/* Section of companies */

.section1bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 120px;
}

.section1bottom img {
  height: 60px;
}
